/* Page Styles */
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");


.bell {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    display: block;
    /*padding: 1em 2em;*/
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background-color: #3498db;
    border: 1px solid #1f74ac;
    border-radius: 0.3em;
    margin-top: 4em;
    cursor: pointer;
}

button:hover {
    background-color: #2487c9;
}

/* Notifications */

.notification {
    display: inline-block;
    position: relative;
    padding: 0.4em;
    background: #3498db;
    border-radius: 0.2em;
    font-size: 1.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 21px;
    margin-right: 20px;
    color:red;
}

.notification::before, 
.notification::after {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notification::before {
    display: block;
    content: "\f0f3";
    font-family: "Font Awesome 5 Free";
    transform-origin: top center;
}

.notification::after {
    font-family: Arial;
    margin-top: 7px;
    font-size: 0.6em;
    font-weight: 700;
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    background: #3498db;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.notification.notify::before {
    -webkit-animation: ring 1.5s ease;
    animation: ring 1.5s ease;
}
#Bellcheck.notify::before {
    -webkit-animation: ring 1.5s ease;
    animation: ring 1.5s ease;
}
.notification.show-count::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;

    /*font-size:1px;*/
}


.questionMark {
    display: inline-block;
    position: relative;
    padding: 0.4em;
    background: #3498db;
    border-radius: 0.2em;
    font-size: 1.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 21px;
    margin-right: 65px;
    color:red;
}

.questionMark::before, 
.questionMark::after {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.questionMark::before {
    display: block;

    font-family: "FontAwesome";
    transform-origin: top center;
}

.questionMark::after {
    font-family: Arial;
    margin-top: 7px;
    font-size: 0.6em;
    font-weight: 700;
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    background: #3498db;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.questionMark.notify::before {
    -webkit-animation: ring 1.5s ease;
    animation: ring 1.5s ease;
}

.questionMark.show-count::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;

    /*font-size:1px;*/
}



/* FLM design */
.questionMarkFLM {
    display: inline-block;
    position: relative;
    padding: 0.4em;
    background: #3498db;
    border-radius: 0.2em;
    font-size: 1.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 21px;
    margin-right: 97px;
    color:red;
}

.questionMarkFLM::before, 
.questionMarkFLM::after {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.questionMarkFLM::before {
    display: block;

    font-family: "FontAwesome";
    transform-origin: top center;
}

.questionMarkFLM::after {
    font-family: Arial;
    margin-top: 7px;
    font-size: 0.6em;
    font-weight: 700;
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    background: #3498db;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.questionMarkFLM.notify::before {
    -webkit-animation: ring 1.5s ease;
    animation: ring 1.5s ease;
}

.questionMarkFLM.show-count::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;

    /*font-size:1px;*/
}
div#FLMQuestion {
    cursor: pointer!important;
}
@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
    }
    12.5% {
        -webkit-transform: rotate(-30deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
    }
    37.5% {
        -webkit-transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
    }
    62.5% {
        -webkit-transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    12.5% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    37.5% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    62.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

