@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

@*<h2>Index</h2>*@

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

 <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        Change password
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                                        <input class="form-control" type="password" placeholder="Current Password" id="txtCurrentPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                                        <input class="form-control" type="password" placeholder="New Password" id="txtNewPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                                        <input class="form-control" type="password" placeholder="Confirm Password" id="txtConfirmPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            @* <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                                <br>
                                <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                            <div style="margin-top: 80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">*@

                            @*</div>*@
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button class="btn icon-btn-save btn-success btn-block" type="submit" id="btnChangePassword"><span class="btn-save-label"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp; </span>save</button>
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript">
        $(document).ready(function () {

            var UserID = '@Session["EmailId"]';

        $("#btnChangePassword").click(function () {
            if ($("#txtCurrentPassword").val() == "") {
                alert("Please Enter Current Password");
                $("#txtCurrentPassword").focus();
                return;
            }
            if ($("#txtNewPassword").val() == "") {
                alert("Please Enter New Password");
                $("#txtNewPassword").focus();
                return;
            }
            if ($("#txtConfirmPassword").val() == "") {
                alert("Please Enter Confirm Password");
                $("#txtConfirmPassword").focus();
                return;
            }
            if ($("#txtCurrentPassword").val() == $("#txtNewPassword").val()) {
                alert("Current Password and New Password Can't Be Same");
                $("#txtNewPassword").focus();
                return;
            }
            if ($("#txtNewPassword").val() != $("#txtConfirmPassword").val()) {
                alert("New Password and Confirm Password Does Not Match");
                return;
            }
            $.ajax({
                url: '@Url.Action("CheckUserExistSave")',
                data: {
                    CurrentPassword: $("#txtCurrentPassword").val(),
                    NewPassword: $("#txtNewPassword").val(),
                    UserID: UserID
                },
                dataType: "json",
                type: "POST",
                traditional: true,
                success: function (data) {
                    if (data == "Data Sucessfully Update") {
                        alert("Password Changed Sucessfully! Click On Dashboard");
                        return;
                    }
                    else {
                        alert("Invalid Current Password !");
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
</html>

   
