@{
    Layout = null;
}

<div class="row thirdrow">
        <form action="@Url.Action("DownloadKPL")" method="post">
            <div class="col-sm-4">
                <div class="well" style="height: 99px">
                    <div class="col-sm-6">
                        <label for="FromDateKPL">From Month</label>
                        <select name="FromMonthKPL" id="FromMonthKPL" class="form-control">
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="ToDateKPL">From Year</label>
                        <select name="FromYearKPL" id="FromYearKPL" class="form-control">
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well" style="height: 99px">
                    <div class="col-sm-6">
                        <label for="FromDateKPL">To Month</label>
                        <select name="ToMonthKPL" id="ToMonthKPL" class="form-control">
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="ToDateKPL">To Year</label>
                        <select name="ToYearKPL" id="ToYearKPL" class="form-control">
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <label for="cmbRegionKPL" class="control-label">Region</label><br />
                    <input type="hidden" id="hfRegionKPL" name="cmbRegionKPL" />
                    <select name="cmbRegion1KPL" id="cmbRegion1KPL" class="form-control" multiple>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                //Bank Dropdown Selectedchange event    
                                $('[id=cmbRegion1KPL]').multiselect({
                                    enableFiltering: true,
                                    enableCaseInsensitiveFiltering: true,
                                    includeSelectAllOption: true,
                                    includeSelectAllDivider: false,
                                    maxHeight: 260,
                                    buttonWidth: '100%',
                                    onChange: function () {
                                        var Region = $("#cmbRegion1KPL option:selected").map(function () { return this.value }).get().join(', ');
                                        $("#hfRegionKPL").val(Region);

                                        //alert(Region);

                                    },
                                    onSelectAll: function () {
                                        var Region = $("#cmbRegion1KPL option:selected").map(function () { return this.value }).get().join(', ');
                                        $("#hfRegionKPL").val(Region);
                                        //alert(Region);

                                    },
                                    onDeselectAll: function () {
                                        var Region = $("#cmbRegion1KPL option:selected").map(function () { return this.value }).get().join(', ');
                                        $("#hfRegionKPL").val(Region);
                                        //alert(Region);

                                    },
                                });
                            });
                        </script>

                    </select>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <label for="cmbBranch">Branch</label><br />
                    <input type="hidden" id="hfBranchKPL" name="cmbBranchKPL" />
                    <select name="cmbBranch1KPL" id="cmbBranch1KPL" class="form-control" multiple>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                //Bank Dropdown Selectedchange event    
                                $('[id=cmbBranch1KPL]').multiselect({
                                    enableFiltering: true,
                                    enableCaseInsensitiveFiltering: true,
                                    includeSelectAllOption: true,
                                    includeSelectAllDivider: false,
                                    maxHeight: 260,
                                    buttonWidth: '100%',
                                    onChange: function () {
                                        Branch = $("#cmbBranch1KPL option:selected").map(function () { return this.value }).get().join(', ');
                                        $("#hfBranchKPL").val(Branch);
                                        //alert(Branch);
                                    },
                                    onSelectAll: function () {
                                        Branch = $("#cmbBranch1KPL option:selected").map(function () { return this.value }).get().join(', ');
                                        $("#hfBranchKPL").val(Branch);
                                        //alert(Branch);
                                    },
                                    onDeselectAll: function () {
                                        Branch = $("#cmbBranch1KPL option:selected").map(function () { return this.value }).get().join(', ');
                                        $("#hfBranchKPL").val(Branch);
                                        //alert(Branch);
                                    },

                                });
                            });
                        </script>
                    </select>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="well">
                    <label for="cmbVechile">Vehicle Number</label>
                    <input type="hidden" id="hfVehicleKPL" name="cmbVechileKPL" />
                    <select name="cmbVechile1KPL" id="cmbVechile1KPL" class="form-control" multiple>
                    </select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well" style="height: 100px">
                    <div style="margin-top: 24px;">
                        <button type="button" class="btn btn-success" id="SearchKPL" style="width: 48%">Search</button>
                        <button type="submit" class="btn btn-danger" style="width: 48%">Download</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row fourthRow">
        <div class="col-sm-5" >
            @*<div id="FleetOverviewKPL">*@
            <h4>Graph</h4>
            <hr style="margin:0px!important"  />
            @*<div id="chart"></div>
            <div class="line" style="border: ridge;
    margin-top: -75px;"></div>*@
            <div class="graph-container" id="FleetOverviewKPL" >
                @*<svg><p></p></svg>
                <div class="tooltip"></div>
                <table id="GraphTable" style="margin-left: 60%!important; margin-top: -18%!important;">
                    <tr>
                        <td><span style="background-color: #07af07; height: 20px;">&nbsp &nbsp &nbsp</span></td>
                        <td style="padding-left: 12px;">&nbsp <b>Per KM Cost(₹1.4)</b><br />
                            (Need to be done)</td>
                    </tr>
                    <tr>
                        <td style="height: 10px"></td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #ec0808; height: 20px;">&nbsp &nbsp &nbsp</span></td>
                        <td style="padding-left: 12px;">&nbsp <b>Per KM Cost(₹<span id="TotalKMCost"></span>)</b><br />
                            (Actually occured)</td>
                    </tr>
                </table>*@
            </div>
            @*</div>*@
        </div>
        <div class="col-sm-5">
            <h4>Data Representation</h4>
            <hr style="margin:0px!important;margin-bottom:20px!important;" />
            <div class="col-sm-6">
                <label>Std. KMPL (Need to be done)</label>
                <button type="button" class="btn btn-default" style="width: 227px; margin-bottom: 10px"><i class="fa fa-inr"> <span id="ExpectedFuleExpense" style="font-weight: bold"></span></i></button>
                <br /><br />
                <label>KMPL (Actually occured)</label>
                <button type="button" class="btn btn-default" style="width: 227px; margin-bottom: 10px"><i class="fa fa-inr"> <span id="ActualFuelExpense" style="font-weight: bold"></span></i></button>
                <br /><br />
                 <label>Difference Amount</label>
                <button type="button" class="btn btn-default" style="width: 227px; margin-bottom: 10px"><i class="fa fa-inr"> <span id="Difference" style="font-weight: bold"></span></i></button>
                <br /><br />
               

            </div>
            <div class="col-sm-6">
               
                <label>Total KM</label>
                <button type="button" class="btn btn-default" style="width: 180px;"><i class="fa fa-road"> <span id="TotalKM" style="font-weight: bold"></span></i></button>
                <br /><br />
                <label style="margin-top:10px">Per Ltr Cost</label>
                <button type="button" class="btn btn-default" style="width: 180px;"><i class="fa fa-inr"> <span id="FuelRatePerltr" style="font-weight: bold"></span></i></button>
                <br /><br />
                 <label style="margin-top: 8px;">Total no. of Vehicles :-</label>
                <button type="button"class="btn btn-default" style="width: 180px;font-weight: bold "><i class="fa fa-car"> <span  id="TotalVehicle" style="font-weight:bold" ></span></i></button>
            </div>
        </div>
        <div class="col-sm-1">
            <center>
            <h4>Annotation</h4>
                <hr style="margin:0px!important"  />
                <div style="padding-top:65%">
            <i class="fa fa-thumbs-up" id="thumbsUpKPL" style="font-size: 48px; color: green; display:none"><br /><span style="font-size:28px">Good</span></i>
            <i class="fa fa-thumbs-down" id="thumbsDownKPL" style="font-size: 48px; color: red; display: none"><br /><span style="font-size:28px">Bad</span></i>
                    </div>
                </center>
        </div>
    </div>
