@{
    ViewBag.Title = "IGetOpnClosDetails";
    Layout = "~/Views/Shared/Master.cshtml";
}

@*<h2>IGetOpnClosDetails</h2>*@


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<script src="~/Angular/Angular.js"></script>
<script src="~/Angular/ReportController.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>Report Page</title>
</head>
<body ng-app="myApp" ng-controller="myController">
    <p></p>

    <div class="container">
        <p></p>
        <table class="table table-responsive table-bordered table-hover table-striped" style="font-size: 13px;">
            <thead>
                <tr ng-repeat="Value in MasterDataKeyValue">
                    <th class="bg-primary">Branch</th>
                    <td>{{Value.Branch}}</td>
                    <th class="bg-primary">Vechile Number</th>
                    <td>{{Value.VechileNumber}}</td>
                    <th class="bg-primary">Date</th>
                    <td>{{Value.Date}}</td>
                </tr>
            </thead>
        </table>
        <p></p>
        <table class="table table-responsive table-bordered table-hover table-striped" style="font-size: 13px;">
            <thead class="bg-primary">
                <tr>
                    <th>Previous Day Closing</th>
                    <th>Previous Day Closing Date</th>
                    <th>Opening KM</th>
                    <th>Opening Time</th>
                    <th>Closing KM</th>
                    <th>Closing Time</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Value in MasterDataKeyValue">
                    <td>{{Value.PreviousDayKM}}</td>
                    <td>{{Value.PreviousDayTime}}</td>
                    <td>{{Value.OpeningKM}}</td>
                    <td>{{Value.OpeningTime}}</td>
                    <td>{{Value.ClosingKM}}</td>
                    <td>{{Value.ClosingTime}}</td>
                    <td>{{Value.DistanceKM}}</td>
                </tr>

            </tbody>
        </table>
        <p></p>
        <div style="float: left; padding: 9.5px; margin: 0 0 10px; line-height: 1.42857143; color: #333; border: 1px solid #ccc; border-radius: 4px; width: 50%; height: 350px;">
            <u>
                <label class="text-info">Opening Image</label></u>
            <table>
                <tr ng-repeat="Value in MasterDataKeyValue">
                    <td>
                        <img src="data:image/png;base64,{{Value.OpeningImage}}" style="display: block; margin-left: auto; margin-right: auto; width: 60%; height: 300px;">
                    </td>
                </tr>
            </table>

        </div>
        <div style="float: right; padding: 9.5px; margin: 0 0 10px; line-height: 1.42857143; color: #333; border: 1px solid #ccc; border-radius: 4px; width: 50%; height: 350px;">
            <label class="text-info">Closing Image</label>
            <table>
                <tr ng-repeat="Value in MasterDataKeyValue">
                    <td>
                        <img src="data:image/png;base64,{{Value.ClosingImage}}" style="display: block; margin-left: auto; margin-right: auto; width: 60%; height: 300px;">
                    </td>
                </tr>
            </table>
        </div>
        <pre style="visibility: hidden"></pre>
        @try
        {
            if (Session["UserType"].ToString() == "User" && Session["RegionIds"].ToString() != "0")
            {

            }
            else
            {
            <div style="padding: 9.5px; margin: 0 0 10px; line-height: 1.42857143; color: #333; border: 1px solid #ccc; border-radius: 4px;">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="RevisedOpnKM" class="control-label">Revised Opening KM</label>
                        <input type="text" class="form-control" placeholder="Revised Opening KM" id="txtRevisedOpnKM" name="txtRevisedOpnKM" ng-model="RevisedOpeningKM" />
                    </div>
                    <div class="col-sm-3">
                        <label for="RevisedClosKM" class="control-label">Revised Closing KM</label>
                        <input type="text" class="form-control" placeholder="Revised Closing KM" id="txtRevisedClosKM" name="txtRevisedClosKM" ng-model="RevisedClosingKM" />
                    </div>
                    <div class="col-sm-3">
                        <label for="RevisedClosKM" class="control-label" style="visibility: hidden">Revised Closing KM</label>
                        <button class="btn btn-success float-right btn-block" id="btnRevisedOpnClos" ng-click="RevisedEntries(RevisedOpeningKM,RevisedClosingKM)">Save</button>
                    </div>
                    <div class="col-sm-3">
                        <label for="RevisedClosKM" class="control-label" style="visibility: hidden">Revised Closing KM</label>
                        <button class="btn btn-primary float-right btn-block" id="btnHistory" ng-repeat="Value in MasterDataKeyValue" ng-click="ViewHistory(Value.VechileNumber); toggleCustom()">View History</button>
                    </div>
                </div>
            </div>
            }

            <div class="row">
                <div class="col-sm-12">
                    <div style="padding: 9.5px; margin: 0 0 10px; line-height: 1.42857143; color: #333; border: 1px solid #ccc; border-radius: 4px;" id="HistoryData" ng-hide="myvalue">
                        <table class="table table-responsive table-bordered table-hover table-striped" style="font-size: 13px;">
                            <thead class="bg-primary">
                                <tr>
                                    <th>Sl No</th>
                                    <th>Vehicle No</th>
                                    <th>Opening KM</th>
                                    <th>Closing KM</th>
                                    <th>Distance</th>
                                    <th>Opening Date</th>
                                    <th>Closing Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="V in ViewVehicleHistory">
                                    <td>{{V.HistorySrNo}}</td>
                                    <td>{{V.HistoryVehicleNo}}</td>
                                    <td>{{V.HistoryOpeningKM}}</td>
                                    <td>{{V.HistoryClosingKM}}</td>
                                    <td>{{V.HistoryDistance}}</td>
                                    <td>{{V.HistoryOpeningDate}}</td>
                                    <td>{{V.HistoryClosingDate}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                      <div style="padding: 9.5px; margin: 0 0 10px; line-height: 1.42857143; color: #333; border: 1px solid #ccc; border-radius: 4px;" id="HistoryData" ng-show="myvalue">
                      </div>
                </div>
            </div>
        }
        catch (Exception)
        {

        }
    </div>

</body>

</html>
